div:nth-of-type(1) {
    background-color: burlywood;
    color:aqua;
}

div:nth-of-type(2) {
    background-color:darkolivegreen;
    color:darkorange;
}

div:nth-of-type(3) {
    background-color:mediumturquoise;
    color:darkred;
}

div:nth-of-type(4) {
    background-color:mediumpurple;
    color:chocolate;
}

h3:nth-of-type(1) {
    background-color: brown;
    width: 200px;
}

h3:nth-of-type(2) {
    background-color: chartreuse;
    width: 200px;
}

h3:nth-of-type(3) {
    background-color: blue;
    width: 200px;
}

h3:nth-of-type(4) {
    background-color: blueviolet;
    width: 200px;
}