div:nth-last-of-type(1) {
    background-color: burlywood;
}

div:nth-last-of-type(2) {
    background-color:darkolivegreen;
}

div:nth-last-of-type(3) {
    background-color:mediumturquoise;
}

div:nth-last-of-type(4) {
    background-color:mediumpurple;
}

caption:nth-of-type(1) {
    background-color: brown;
    width: 200px;
}

caption:nth-of-type(2) {
    background-color: chartreuse;
    width: 200px;
}

caption:nth-of-type(3) {
    background-color: blue;
    width: 200px;
}

caption:nth-last-of-type(4) {
    background-color: blueviolet;
    width: 200px;
}