*{
    margin: 0%;
    padding: 0%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

article{
    font-size: 120%;
    border: 1px solid;
    background-color: lightblue;
}
.Button:link, .Button:visited {
    color: white;
    text-decoration: none;
    background-color: blue;
    border: 1px solid red;
    width: 300px;
    text-align: center;
    margin-left: 1px;
}
.Button:hover {
    background-color: magenta;
}
.Button:active {
    color: red;
    background-color: yellow;
}
p {
    background-color: darkgoldenrod;
    color:blue;
}
#Verh {
    text-align: center;
    font-size: 22px;
}
#Golovna {
    font-style: italic;
}
#Zmist {
    text-align: center;
}
article {
    font-size: 120%;
}
h2 {
    font-size: 120%;
}
#Zmist {
    font-weight: bold;
}
#lVerh {
    text-transform: uppercase;
}